*{
    padding: 0px;
    margin: 0px;
}

.main-container{
    border: 3px solid black;
    display: flex;
}

.nav-bar{
    width: 25em;
    height: 100vh;
    background-color: rgb(41, 47, 49);
    display: inline-block;
}

.nav-content-div{
    padding: 0px;
    background-color: rgb(41, 47, 49);
    height: auto;
    width: 10em;
    margin-top: 10em;
    margin-left: 2em;
    font-size: 25px;
    display: flex;

}

.nav-content{
    list-style: none;
    justify-content: space-between;
}

li{
    margin: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.main-content{
    width: 75em;
    height: 100vh;
    background-color:  #ADB1BD;
    display: flex;
}


.more-about-me{
    height: 2em;
    width: 10em;
    border-radius: 20px;
    background-color: burlywood;
    text-align: center;
    padding: 2px 0em;
    margin-top: 20px;
    padding-top: 10px;
}

.name-class div, p{
    margin-bottom: 15px;
}

.name-prefix{
    display: inline-block;
    font-size: 30px;
}

.name-actual{
    display: inline-block;
    font-family: cursive;
    font-family: 40px;
    font-size: 30px;
    color:rgb(21, 103, 209);
}

.name-profession{
    font-size: 25px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-bio{
    font-family: Arial, Helvetica, sans-serif;
}

.name-class{
    width: 70em;
    height: auto;
    background-color:  #ADB1BD;
    margin: 8em 0em;
    padding: 2em 6em 2em 3em;
    display: flex;
    flex-direction: column;
} 

.photo-class{
    display: flex;
    width: 80em;
    height: auto;
    margin: 4em 0em;
    justify-content: center;

}

.my-photo{
    width: 30em;
    height: 35em;
    border-radius: 50%;
    border-bottom: 4px solid burlywood;
    background-image: url("/images/Mahesh_photo.JPG");
    background-color:  rgb(59, 61, 61);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.demo{
    width: 25em;
    height: 30em;
    position: relative;
    border-radius: 50%;
    border: 2px solid rgb(21, 103, 209);
    background-color:  #ADB1BD;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg);  }
}